.legal-header {
background-color: #e2e2e2;
padding: 20px;
margin-top: 60px;
width: 100%;
position: fixed;
top: 0px;
z-index: 2;
}

.legal-header h1 {
  width: 100%;
  max-width: 900px;
margin: 0 auto;
}

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 120px;
}

section {
  display: flex;
  gap: 30px;
  position: relative;
  border-bottom: 1px solid grey;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
color: #e2e2e2;
}

.section-label {
  width: 100%;
  background-color: #2b2d3b;
  height: max-content;
  padding: 10px 16px;
  position: sticky;
  top: 200px;
}

.document-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.document-content p {
  line-height: 28px;
}

.document-content ol {
  margin: 0;
  padding-left: 40px;
}

.document-content li {
  line-height: 28px;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 0 30px;
  min-height: 60px;
  position: fixed;
  bottom: 0px;
  z-index: 2;
}

.footer-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agree-btn {
  padding: 10px 20px;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.agree-btn:disabled {
  background-color: darkviolet;
  cursor: not-allowed;
}
